In [95]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [113]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
Y_actual = pd.get_dummies(test.sentiment).positive.values
Y_pred = np.loadtxt("out.txt")
np.sum(Y_actual==Y_pred)/Y_actual.shape

array([0.844225])

In [110]:
train_data = pd.read_csv("traindata.csv")
test_data = pd.read_csv("testdata.csv")
train_data_length = train_data.shape[0]
X = pd.concat([train_data.review,test_data.review],axis=0).reset_index().review
# X = train_data.review
Y_train = pd.get_dummies(train_data.sentiment).positive

In [185]:
stopwords_set = stopwords.words('english')

In [187]:
print(stopwords_set)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [111]:
def preprocess(X):
    X = X.str.lower()
    X = X.str.replace(r'.',' ')
    X = X.str.replace('[^a-zA-Z ]','')
    X = X.str.replace(r'\s+', ' ')
#     X = X.str.replace(r'\W*\b\w{1,2}\b','')
    X = X.str.replace(r'([a-z])\1+', r'\1')
#     X = X.str.replace(r'\s+[a-zA-Z]\s+', r'\1')
#     X = X.str.replace(r'([ ])\1+', r'\1')
    stopwords_set = stopwords.words('english')
    stemmer = PorterStemmer()
    for i,row in enumerate(X):
        print(i,end='\r',flush=True)
        a = ''
        for word in row.split():
            if word not in stopwords_set:
                a= a+' '+(stemmer.stem(word))
        X[i] = a
    
    return X

In [105]:
X = preprocess(X[:100])

In [109]:
stemmer = PorterStemmer()
stemmer.stem("things")

'thing'

In [100]:
def get_unique_keys(X):
    words = []
    for row in X:
        words.extend(row)
    return sorted(list(set(words)))

In [101]:
unique_words = get_unique_keys(X[:train_data_length])
print(len(unique_words))

3766

In [44]:
"the" in set(stopwords.words('english'))

True

In [ ]:
sum_df = pd.DataFrame(np.zeros(len(unique_words)*2).reshape(2,len(unique_words)),columns=unique_words)
for i,row in enumerate(X[:train_data_length]):
    print(i,end="\r",flush=True)
    sum_df.iloc[Y_train[i],:][list(set(row.split()))]+= 1

In [ ]:
unique_words_all = get_unique_keys(X)
unknown_words = list(set(unique_words_all)-set(unique_words))
df2 = pd.DataFrame(np.zeros(len(unknown_words)*2).reshape(2,len(unknown_words)),columns=unknown_words)
sum_df = pd.concat([sum_df,df2],axis=1)+1

In [ ]:
class_positive = np.sum(Y_train==1)
class_negative = np.sum(Y_train==0)
print(class_negative,class_positive)
sum_df.iloc[0,:] = np.log(sum_df.iloc[0,:]/(class_negative+1))
sum_df.iloc[1,:] = np.log(sum_df.iloc[1,:]/(class_positive+1))

In [ ]:
Y_pred = []
for i,row in enumerate(X[train_data_length:]):
    print(i,end="\r",flush=True)
    words = list(set(row.split()))
    class_0 = np.log(class_negative/(class_positive+class_negative))+sum_df.iloc[0,:][words].sum()
    class_1 = np.log(class_positive/(class_positive+class_negative))+sum_df.iloc[1,:][words].sum()
    if(class_0<class_1):
        Y_pred.append(1)
    else:
        Y_pred.append(0)

In [114]:
import pandas as pd

In [181]:
data = pd.read_csv("marks.csv")

In [133]:
pd.notna()

TypeError: notna() missing 1 required positional argument: 'obj'

In [138]:
data = data.iloc[1:,:]

In [140]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 1 to 146
Data columns (total 18 columns):
Entry No.         146 non-null object
Reg               62 non-null object
M1                146 non-null float64
M2                146 non-null float64
Maj               0 non-null float64
Q1                146 non-null float64
Q2                146 non-null float64
HW1               146 non-null float64
HW2               146 non-null float64
A1                146 non-null float64
A2a               146 non-null float64
A2b               0 non-null float64
A3 (tentative)    146 non-null float64
A4.1              146 non-null float64
A4.2              0 non-null float64
A5                0 non-null float64
PMT               146 non-null float64
Total             0 non-null float64
dtypes: float64(16), object(2)
memory usage: 20.6+ KB

In [155]:
data

,Entry No.,Reg,M1,M2,Maj,Q1,Q2,HW1,HW2,A1,A2a,A2b,A3 (tentative),A4.1,A4.2,A5,PMT,Total
1,2012CS10265,W,0.13,0.00,NaN,2.50,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,2.63,NaN
2,2012CS50277,NaN,0.00,1.50,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,1.50,NaN
3,2013CH70159,NaN,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
4,2014CE10395,NaN,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
5,2015CS10224,NaN,8.50,2.75,NaN,0.00,0.00,0.00,0.00,2.52,0.00,NaN,0.00,1.98,NaN,NaN,15.75,NaN
6,2015CS50276,NaN,6.50,0.00,NaN,0.00,0.00,0.00,0.00,0.45,0.00,NaN,0.00,0.00,NaN,NaN,6.95,NaN
7,2015CS50277,NaN,8.25,0.00,NaN,0.00,0.00,0.00,0.00,3.48,0.00,NaN,0.00,2.37,NaN,NaN,14.10,NaN
8,2015CS50283,W,1.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,1.00,NaN
9,2015CS50289,NaN,2.13,1.00,NaN,0.00,0.00,0.00,0.00,5.84,0.00,NaN,1.95,2.85,NaN,NaN,13.77,NaN
10,2015CS50293,NaN,7.75,1.50,NaN,0.00,0.00,0.00,0.00,4.90,0.00,NaN,4.26,2.84,NaN,NaN,21.25,NaN
11,2015CS50294,NaN,8.25,1.63,NaN,0.00,0.00,0.00,0.00,5.37,0.00,NaN,4.26,2.22,NaN,NaN,21.73,NaN
12,2015ME10643,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
13,2015ME10688,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
14,2015PH10827,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
15,2015TT10882,NaN,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
16,2015TT10913,NaN,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
17,2016BB50011,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
18,2016CE10237,NaN,2.00,8.13,NaN,0.00,0.00,0.00,0.00,6.54,3.73,NaN,0.00,2.43,NaN,NaN,22.82,NaN
19,2016CH10081,W,4.38,0.00,NaN,0.00,1.63,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,6.00,NaN
20,2016CH10085,NaN,3.75,3.75,NaN,0.00,2.06,0.00,0.00,4.06,0.00,NaN,0.00,0.00,NaN,NaN,13.62,NaN
21,2016CH10090,NaN,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
22,2016CH70156,NaN,2.75,3.00,NaN,0.00,2.43,0.00,0.00,6.72,0.00,NaN,0.00,0.00,NaN,NaN,14.90,NaN
23,2016CH70167,A,4.00,3.13,NaN,0.00,2.31,0.00,0.00,5.64,0.25,NaN,0.00,1.90,NaN,NaN,17.22,NaN
24,2016CS10320,W,1.75,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,1.75,NaN
25,2016CS10351,W,7.13,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,7.13,NaN
26,2016CS10360,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
27,2016CS50398,NaN,6.25,5.13,NaN,0.00,0.00,0.00,0.00,7.03,3.26,NaN,8.99,3.07,NaN,NaN,33.73,NaN
28,2016CS50400,NaN,9.00,1.38,NaN,0.00,0.00,0.00,0.00,6.62,2.92,NaN,8.99,2.16,NaN,NaN,31.07,NaN
29,2016CS50403,NaN,9.63,2.25,NaN,0.00,0.00,0.00,0.00,2.85,2.00,NaN,0.00,1.35,NaN,NaN,18.07,NaN
30,2016CS50404,NaN,5.50,0.00,NaN,0.00,0.00,0.00,0.00,5.29,1.00,NaN,0.00,0.00,NaN,NaN,11.79,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2017MT10745,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
118,2017MT10748,A,0.00,0.00,NaN,0.00,0.00,0.00,0.00,6.44,0.52,NaN,0.00,0.00,NaN,NaN,6.96,NaN
119,2017MT10755,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
120,2017MT60771,W,1.13,2.00,NaN,1.25,1.63,1.75,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,7.75,NaN
121,2017MT60775,NaN,6.63,4.63,NaN,2.50,1.25,2.00,2.50,7.80,3.85,NaN,0.00,2.96,NaN,NaN,34.11,NaN
122,2017MT60778,NaN,9.00,5.63,NaN,1.25,1.25,2.00,0.00,7.81,3.74,NaN,0.00,3.00,NaN,NaN,33.68,NaN
123,2017MT60780,NaN,9.75,7.50,NaN,0.00,1.58,1.75,2.50,7.82,3.74,NaN,9.81,3.61,NaN,NaN,48.06,NaN
124,2017MT60781,NaN,5.88,2.00,NaN,0.00,0.68,1.75,2.38,7.71,3.93,NaN,9.81,2.19,NaN,NaN,36.32,NaN
125,2017MT60783,W,1.25,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,1.25,NaN
126,2017MT60784,NaN,3.50,6.13,NaN,2.50,2.33,2.50,2.50,5.86,3.41,NaN,14.14,0.00,NaN,NaN,42.86,NaN
127,2017MT60785,NaN,10.38,5.75,NaN,0.00,1.63,2.50,2.44,7.16,3.61,NaN,11.45,0.00,NaN,NaN,44.91,NaN
128,2017MT60786,NaN,10.25,4.50,NaN,2.50,1.31,2.50,2.50,7.31,3.28,NaN,6.31,0.00,NaN,NaN,40.46,NaN
129,2017MT60788,A,2.38,4.00,NaN,0.00,1.25,1.25,2.44,5.69,2.71,NaN,11.50,1.53,NaN,NaN,32.75,NaN
130,2017MT60789,NaN,6.00,1.38,NaN,0.00,1.44,1.25,2.38,7.27,2.46,NaN,6.31,0.00,NaN,NaN,28.48,NaN
131,2017PH10808,W,9.75,0.00,NaN,1.25,1.25,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,12.25,NaN
132,2017TT10880,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
133,2017TT10883,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
134,2017TT10887,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
135,2017TT10896,NaN,7.00,1.88,NaN,2.50,0.00,0.00,2.50,6.93,2.69,NaN,12.84,2.01,NaN,NaN,38.35,NaN
136,2017TT10901,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
137,2017TT10903,NaN,8.50,1.75,NaN,0.00,0.00,0.00,2.38,5.11,2.71,NaN,12.84,0.00,NaN,NaN,33.30,NaN
138,2017TT10912,W,1.75,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,1.75,NaN
139,2017TT10913,NaN,0.00,5.00,NaN,0.00,1.95,0.00,0.00,1.78,1.50,NaN,0.00,0.00,NaN,NaN,10.23,NaN
140,2017TT10917,W,5.50,0.00,NaN,0.00,1.48,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,6.98,NaN
141,2017TT10924,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
142,2017TT10930,W,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN
143,2017TT10963,NaN,5.25,2.25,NaN,1.25,1.00,1.75,0.00,3.74,2.84,NaN,6.21,1.61,NaN,NaN,25.89,NaN
144,2018ME10582,NaN,7.13,3.63,NaN,0.00,0.00,1.75,1.13,2.54,0.00,NaN,0.00,0.00,NaN,NaN,16.16,NaN
145,2019VST9031,A,1.25,0.25,NaN,0.00,0.00,0.00,0.00,0.25,0.00,NaN,0.00,0.00,NaN,NaN,1.75,NaN
146,2019VST9033,A,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,0.00,NaN

In [158]:
data = data[data.Reg.isna()]

In [174]:
data = data.reset_index()

ValueError: cannot insert level_0, already exists

In [173]:
data= data[data.PMT>=10]

In [175]:
data.describe()

,level_0,index,M1,M2,Maj,Q1,Q2,HW1,HW2,A1,A2a,A2b,A3 (tentative),A4.1,A4.2,A5,PMT,Total
count,74.000000,74.000000,74.000000,74.000000,0.0,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,0.0,74.000000,74.000000,0.0,0.0,74.000000,0.0
mean,45.486486,75.243243,7.134189,4.791216,NaN,1.047297,1.365811,1.186081,1.524189,6.133784,2.178784,NaN,4.691757,1.955135,NaN,NaN,32.002838,NaN
std,22.927667,39.336208,2.686071,2.597564,NaN,1.152481,0.804012,0.873489,1.127668,1.928702,1.445120,NaN,4.928343,1.458114,NaN,NaN,11.642667,NaN
min,3.000000,5.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,10.230000,NaN
25%,26.250000,41.250000,5.500000,2.782500,NaN,0.000000,1.250000,0.000000,0.000000,5.155000,0.805000,NaN,0.000000,0.000000,NaN,NaN,23.142500,NaN
50%,46.500000,73.500000,7.375000,4.630000,NaN,0.000000,1.510000,1.250000,2.380000,7.010000,2.605000,NaN,4.260000,2.400000,NaN,NaN,32.530000,NaN
75%,64.750000,110.750000,9.000000,6.220000,NaN,2.500000,1.980000,1.750000,2.500000,7.485000,3.410000,NaN,8.990000,3.167500,NaN,NaN,40.412500,NaN
max,83.000000,144.000000,12.500000,13.500000,NaN,2.500000,2.500000,2.500000,2.500000,7.970000,3.990000,NaN,15.710000,3.890000,NaN,NaN,57.470000,NaN

In [180]:
data[data["Entry No."]=="2016ME20793"]

,level_0,index,Entry No.,Reg,M1,M2,Maj,Q1,Q2,HW1,HW2,A1,A2a,A2b,A3 (tentative),A4.1,A4.2,A5,PMT,Total
16,21,35,2016ME20793,NaN,3.63,3.25,NaN,1.25,1.51,1.25,0.06,7.97,3.41,NaN,0.0,3.24,NaN,NaN,25.58,NaN

In [184]:
data.iloc[0:2,:]

,Entry No.,Reg,M1,M2,Maj,Q1,Q2,HW1,HW2,A1,A2a,A2b,A3 (tentative),A4.1,A4.2,A5,PMT,Total
0,00 Max,NaN,15.00,15.0,20.0,2.5,2.5,2.5,2.5,8.0,4.0,4.0,16.0,4.0,4.0,4.0,72.00,104.0
1,2012CS10265,W,0.13,0.0,NaN,2.5,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,2.63,NaN